
@model IEnumerable<WebSalary.Models.tblEmployee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            <h4>Employee Name</h4>
        </th>
        <th>
            <h4>Employee Email</h4>
        </th>

        <th>
            <h4>Employee Gender</h4>
        </th>
        <th>
            <h4>No of Dependants</h4>
        </th>
        <th>

            <h4>Salary Additions</h4>
        </th>
        <th>

            <h4>Income Tex</h4>
        </th>
        <th>
            <h4>Canada Pension Plan</h4>

        </th>
        <th>
            <h4>Employee Insurance</h4>
        </th>

        <th>
            <h4>Gross Annual Salary</h4>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emp_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp_email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.emp_gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noOfDependants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Additions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalSalary)
            </td>

            <td>
                @Html.ActionLink("Calculate Pay", "Details", new { id = item.emp_id }) 
               
            </td>

        </tr>
    }

</table>


